@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение смены пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменен. Пройдите <a asp-page="./Login">по ссылке для авторизации</a>.
</p>
